<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>haha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01471BCE1C48D8FE000E8387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01471BE71C48D8FF000E8387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01471BF21C48D8FF000E8387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
